<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hk.lab5.account">
	
	<select id="idchk" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT COUNT(*) FROM  ACCOUNT WHERE ID = #{email}
	</select>
	
	<insert id="regist" parameterType="java.util.HashMap">
		INSERT INTO ACCOUNT(ID,PASSWORD,REGDATE,ROLE,ENABLED) VALUES(#{email}, #{pw}, SYSDATE, 'U', 'Y')
	</insert>
	
	<select id="findpw" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT PASSWORD FROM ACCOUNT WHERE ID = #{email}
	</select>
	
	<select id="login" parameterType="java.util.HashMap" resultType="AccountDto">
		SELECT ID,PASSWORD,TO_CHAR(REGDATE,'YYYYMMDD') AS REGDATE,ROLE,ENABLED,NICKNAME,ICON FROM ACCOUNT WHERE ID = #{id} AND PASSWORD = #{pw}
	</select>
	
	<select id="userList" resultType="AccountDto">
		SELECT ID,PASSWORD,TO_CHAR(REGDATE,'YYYYMMDD') AS REGDATE,ROLE,ENABLED,NICKNAME,ICON FROM ACCOUNT WHERE ROLE = 'U'
	</select>
	
	<select id="ajaxUserDetail" resultType="AccountDto" parameterType="java.lang.String">
		SELECT ID,PASSWORD,TO_CHAR(REGDATE,'YYYYMMDD') AS REGDATE,ROLE,ENABLED,NICKNAME,ICON FROM ACCOUNT WHERE id = #{id}
	</select>

	<update id="updateUser" parameterType="AccountDto">
		UPDATE ACCOUNT SET ENABLED = #{enabled} WHERE ID = #{id}
	</update>

</mapper>