<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hk.lab5.qna">
	
	<select id="qnaListAll" resultType="QnaDto">
		SELECT ASEQ, TITLE, CONTENT, ID, REGDATE, REFER, STEP, DEPTH FROM QNA ORDER BY REFER DESC, STEP
	</select>
	
	<select id="qnaList" resultType="QnaDto" parameterType="java.lang.String">
		SELECT ASEQ, TITLE, CONTENT, ID, REGDATE, REFER, STEP, DEPTH FROM QNA
		WHERE REFER IN (SELECT REFER FROM QNA WHERE ID = #{id})
		ORDER BY REFER DESC, STEP
	</select>
	
	<insert id="insertQna" parameterType="QnaDto">
		INSERT INTO QNA(TITLE, CONTENT, ID, REGDATE, REFER, STEP, DEPTH) VALUES(#{title}, #{content}, #{id}, NOW(), 
  		(SELECT IFNULL(MAX(REFER)+1,0) FROM QNA test),0,0)
	</insert>
	
	<select id="ajaxQnaDetail" parameterType="java.lang.String" resultType="QnaDto">
		SELECT ASEQ, TITLE, CONTENT, ID, REGDATE, REFER, STEP, DEPTH FROM QNA WHERE ASEQ = #{aseq}
	</select>
	
	<delete id="deleteQna" parameterType="java.lang.String">
		DELETE FROM QNA WHERE ASEQ = #{aseq}
	</delete>
	
	<update id="updateQna" parameterType="QnaDto">
		UPDATE QNA SET TITLE = #{title}, CONTENT = #{content} WHERE ASEQ = #{aseq}
	</update>
	
	<insert id="insertReplyQna" parameterType="QnaDto">
		INSERT INTO QNA(TITLE, CONTENT, ID, REGDATE, REFER, STEP, DEPTH) VALUES
  		(#{title},#{content},#{id},NOW(),
		(SELECT REFER FROM QNA test WHERE ASEQ=#{aseq}),
		(SELECT STEP FROM QNA test WHERE ASEQ=#{aseq})+1,
		(SELECT DEPTH FROM QNA test WHERE ASEQ=#{aseq})+1)
	</insert>
	
</mapper>