<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!-- 사용하고자 하는 db정보파일인 db/properties bean으로 생성 -->
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="locations">
		<list>
			<value>classpath:properties/db.properties</value>
		</list>
	</property>
</bean>

<!-- DB연결정보를 갖고 있는 datasource 를 생성해 줌 -->
<bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
	<property name="username" value="${username}"/>
	<property name="password" value="${password}"/>
	<property name="url" value="${url}"/>
	<property name="driverClassName" value="${driver}"/>
	<property name="defaultAutoCommit" value="true"/>
</bean>

<!-- <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean"> -->
<!-- 	<property name="dataSource"  ref="dataSource"/> -->
<!-- 	<property name="configLocation" value="/WEB-INF/spring/sqls/sqlMapConfig.xml" /> -->
<!-- </bean> -->

<!-- <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> -->
<!-- 	<constructor-arg index="0" ref="sqlSession"/> -->
<!-- </bean> -->

<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
</bean>

<tx:annotation-driven transaction-manager="transactionManager"/>
		
</beans>
